body {
  margin: 50px auto;
  width: 700px;
  background-color: green;
  font-family: sans-serif;
}

main {
  height: 600px;
  padding: 50px;
  background-color: white;
}

h1 {
  text-align: center;
  margin: 20px;
  color: green;
}

h2 {
  text-align: center;
  margin: 20px;
  color: red;
}

form {
  margin-top: 20px;
}

p {
  margin: 5px 0px;
}

.feedback {
  width: 400px;
}

li {
  margin: 10px;
}
